[submodule "lib/samp-plugin-sdk"]
	path = lib/samp-plugin-sdk
	url = https://github.com/AGraber/samp-plugin-sdk
[submodule "lib/cmake-modules"]
	path = lib/cmake-modules
	url = https://github.com/Zeex/cmake-modules
[submodule "lib/subhook"]
	path = lib/subhook
	url = https://github.com/Zeex/subhook
